.social-login
    button.social-login__github
        a(href=routes.github)
            span
                i.fab.fa-github
            | Continue with GitHub
    button.social-login__instagram
        a(href=routes.instagram)
            span
                i.fab.fa-instagram
            | Continue with Instagram