.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  button {
    width: 100%;
    max-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    span {
      margin-right: 10px;
      font-size: 20px;
    }
  }
  .social-login__github {
    background-color: $black;
    color: white;
  }
  .social-login__instagram {
    background: linear-gradient(
      45deg,
      #ffdc80,
      #fcaf45,
      #f77737,
      #f56040,
      #f56040,
      #e1306c,
      #c13584,
      #833ab4,
      #5851db,
      #405de6
    );
    color: white;
  }
}
