extends layouts/main
include mixins/videoBlock

block content  
    .videos
       each tomato in videos
        +videoBlock({
            id:tomato.id,
            title:tomato.title,
            views:tomato.views,
            videoFile:tomato.fileUrl
        })