extends layouts/main
include mixins/videoBlock

block content  
    .home-videos
       each tomato in videos

        +videoBlock({
            id:tomato.id,
            title:tomato.title,
            views:tomato.views,
            videoFile:tomato.fileUrl
        })
        +videoBlock({
            id:tomato.id,
            title:tomato.title,
            views:tomato.views,
            videoFile:tomato.fileUrl
        })
        +videoBlock({
            id:tomato.id,
            title:tomato.title,
            views:tomato.views,
            videoFile:tomato.fileUrl
        })
        +videoBlock({
            id:tomato.id,
            title:tomato.title,
            views:tomato.views,
            videoFile:tomato.fileUrl
        })
        +videoBlock({
            id:tomato.id,
            title:tomato.title,
            views:tomato.views,
            videoFile:tomato.fileUrl
        })
        +videoBlock({
            id:tomato.id,
            title:tomato.title,
            views:tomato.views,
            videoFile:tomato.fileUrl
        })
        +videoBlock({
            id:tomato.id,
            title:tomato.title,
            views:tomato.views,
            videoFile:tomato.fileUrl
        })
        +videoBlock({
            id:tomato.id,
            title:tomato.title,
            views:tomato.views,
            videoFile:tomato.fileUrl
        })
        +videoBlock({
            id:tomato.id,
            title:tomato.title,
            views:tomato.views,
            videoFile:tomato.fileUrl
        })